<!DOCTYPE = HTML>

<html>
  <head>
    <title>date.erb</title>
  </head>

  <body>
    <h1>Today</h1>
    <% time = Date.new %>
    <p><%= time.strftime("The date is %A, %B %m, %Y") %></p>

  </body>

</html>
